swfcthesis.cls
tutorial.pdf
printable.tex

btss.tex
test*.*

mem*h*

# sample
Makefile
bf-example.*
bytefield.pdf

_minted-thesis/

# chapters/
*.aux

thesis.*
!thesis.tex
!thesis.pdf

mem*.*
!mem*.pdf
!mem*.tex

windowsKernel.png
